.nomesForm{
 display: inline-grid;
 margin-top: 2%;
}

.espacoHorizontalInput{
  margin-left: 30%;
}

.espacoInput{
  margin-top: 4%;
}

.tamanhoInput{
  width: 195%;
  border: 1px solid #ccc;
  border-radius: 11px;
  outline: none;
}
